<div class="darkness">
  <div id="carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner item-img" role="listbox">
      <div class="item active">
        <img src="/imgs/main/3.jpg" alt="1"/>
        <div class="home wr" align="center">
          <h1>Well Dressed</h1>
          <img src="imgs/icons/icon.png" />
          <h3>магазин дизайнерской одежды</h3>
        </div>
      </div>
      <div class="item">
        <img src="/imgs/main/4.jpg" alt="2"/>
      </div>
      <div class="item">
        <img src="/imgs/main/7.jpg" alt="3"/>
      </div>
      <div class="item">
        <img src="/imgs/main/5.jpg" alt="4"/>
      </div>
      <div class="item">
        <img src="/imgs/main/6.jpg" alt="5"/>
      </div>
      <div class="item">
        <img src="/imgs/main/8.jpg" alt="6"/>
      </div>
    </div>
  </div>
</div>

<div class="">

</div>
